# Application
SERVER_ADDRESS=:8083
LOG_LEVEL=debug
CORS_ALLOWED_ORIGINS=http://localhost:5173
APP_URL=http://localhost:5173
APP_ENV=dev

# Database
DATABASE_URL=postgres://root:12345@localhost:5432/farm_deck_db?sslmode=disable

# Security
JWT_SECRET=your-jwt-secert
ACCESS_TOKEN_DURATION=15m
REFRESH_TOKEN_DURATION=168h
JWT_ISSUER=farm-deck

# Cookies
COOKIE_SECURE=true
COOKIE_DOMAIN=localhost
COOKIE_TOKEN_NAME=access_token
COOKIE_HTTP_ONLY=true
COOKIE_REFRESH_TOKEN_NAME=refresh_token

# Email Config
MAIL_FROM_ADDRESS='Farm Deck <your@gmail.com>'
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your@gmail.com
SMTP_PASSWORD=smtp_password

# Rate Limiter
RATE_LIMIT_PER_MINUTE=240
RATE_LIMIT_BURST=80
AUTH_RATE_LIMIT_PER_MINUTE=10
AUTH_RATE_LIMIT_BURST=5
